@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    -webkit-tap-highlight-color: transparent;
}

.box {
    @apply rounded-md p-2 bg-white dark:bg-dark-secondary;
}

.fade-enter-active,
.fade-leave-active {
    transition: all 2s;
}

.fade-enter,
.fade-leave-to {
    opacity: 0;
    transform: translateY(30px);
}

body iframe {

    width: 100%;
    border-radius: 0.8rem;
    transition-duration: 0.3s;
}

body iframe:hover {

    transform: scale(1.05);
    filter: brightness(60%);
    transition-duration: 0.5s;
}
::-webkit-scrollbar{
    overflow:hidden;
} 

h3 {
    font-size: small;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

p {
    text-align: center;
}

.contact {
    margin-bottom: 1rem;

}

.video {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 4rem;
    width: 100%;
}

.sub {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    display: flex;
    margin-bottom: 2rem;
}

.hoover:hover {
    transform: scale(1.1);
    transition: 0.3s;
}